
<div class="row">
  <div class="col-sm-12 text-center">
  <p>Please enter your email address against your name to view your recipient and keep it secret  <i class="fa fa-smile-o"></i> !!! </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
  <h3>Secret Santa List</h3>
  </div>
  <div class="col-sm-6">
  <button *ngIf="isAdmin" class="btn btn-primary float-right" (click)="updateRecipients()">Reset Recipient</button>
  </div>
</div>
<div class="row">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="d-none d-sm-block">#</th>
      <th scope="col">Santa</th>
      <th scope="col" *ngIf="isAdmin">Recipient</th>
      <th scope="col" *ngIf="!isAdmin">Enter E-mail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let santRecp of santaWithRecipients; let i = index;">
      <th scope="row" class="d-none d-sm-block">{{i+1}}</th>
      <td>{{santRecp.santa.name.first + ' ' + santRecp.santa.name.last}}</td>
       <td *ngIf="isAdmin">{{santRecp.recipient.name.first + ' ' + santRecp.recipient.name.last}}</td> 
      <td *ngIf="!isAdmin">
        <app-validate-email [user]="santRecp"></app-validate-email>
      </td>
  </tr>
  </tbody>
</table>
</div>