
<div class="row">
  <div class="col-sm-6">
  <h3>Secret Santa List</h3>
  </div>
  <div class="col-sm-6">
  <button class="btn btn-primary float-right" (click)="updateRecipients()">Reset Recipient</button>
  </div>
</div>
<div class="row">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Santa</th>
      <th scope="col">Recipient</th>
      <th scope="col">Enter E-mail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let santRecp of santaWithRecipients; let i = index;">
      <th scope="row">{{i+1}}</th>
      <td>{{santRecp.santa.name.first + ' ' + santRecp.santa.name.last}}</td>
       <td>{{santRecp.recipient.name.first + ' ' + santRecp.recipient.name.last}}</td> 
      <td>
        <div class="input-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Validate your email to check whom to send gift">
          <span class="input-group-btn">
          <button class="btn btn-success" type="button">Verify</button>
          </span>
        </div>
      </td>
  </tr>
  </tbody>
</table>
</div>