<div class="row">
  <div class="col-sm-12 text-center">
  <p>Please click a below button based on your role.  <i class="fa fa-smile-o"></i> !!! </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 text-center">
     <a class="btn btn-primary" [routerLink]="['/santa-admin']" routerLinkActive="active">I am an Admin <i class="fa fa-user-plus"></i></a>
    
  </div>
  <div class="col-sm-6 text-center">
    <a class="btn btn-primary" [routerLink]="['/santa-user']" routerLinkActive="active">I am just an User <i class="fa fa-user-o"></i></a> 
  </div>
</div>