 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Gilt - Secret Santa Application</a>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="mt-5">Hi! You are most welcome here.</h1>
          <p class="lead">Grab a chance to be a Santa and spread happiness.</p>
          <p>Please enter your email address agaist your name to view your recipient and keep it secret  <i class="fa fa-smile-o"></i> !!! </p>
        </div>
      </div>
      <div class="row justify-content-md-center">
          <div class="col-md-8">
           <router-outlet></router-outlet>
          </div>
      </div>
    </div>