 <!-- Header -->
    <gilt-header></gilt-header>

<!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="mt-5">Hi! You are most welcome here.</h1>
          <p class="lead">Grab a chance to be a Santa and spread happiness.</p>          
        </div>
      </div>
      <div class="row justify-content-md-center">
          <div class="col-md-8">
           <router-outlet></router-outlet>
          </div>
      </div>
    </div>

 <!-- Footer -->
    <gilt-footer></gilt-footer>